.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
=======
node_modules

# must ignore package-lock.json in functions directory
# to deploy using Realm Github integration
# (this is a bug being addressed by https://jira.mongodb.org/browse/BAAS-14917)
app-services/functions/package-lock.json
